@import '../../index.scss';

.hero{
    // background: url(../../assets/utilities/hero.svg) center/cover no-repeat;
    width: 100%;
    height: 80vh;
        
    @media (max-width: #{$breakpoint-sm}) {
        // styles for screens up to 700px
        // height: 40vh!important;
        grid-template-columns: 2fr;
        position: relative;
    }
    
    .container-hero{
        background: url(../../assets/utilities/hero.svg) center/cover no-repeat;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .brand{
            // background-color: $primary;
            @include flex(column);
            align-items: flex-start;
            padding: 0 4rem;
            @media (max-width: #{$breakpoint-sm}) {
                // styles for screens up to 700px
                padding: 0 2rem;
            }
            p{
                @media (max-width: #{$breakpoint-sm}) {
                    // styles for screens up to 700px
                    width: 90% !important;
                }
            }
            .more{
                @include flex(row);
                justify-content: space-between;
                width: 60%;
            }
        }

        .actions{
            background: url(../../assets/utilities/car.png) center/cover no-repeat;
            @media (max-width: #{$breakpoint-sm}) {
                // styles for screens up to 700px
                display: none;
            }
        }

    }
}