@import '../../index.scss';

.hero{
    // background: url(../../assets/utilities/hero.svg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
        
    @media (max-width: #{$breakpoint-sm}) {
        // styles for screens up to 700px
        // height: 40vh!important;
        grid-template-columns: 2fr;
        position: relative;
    }
    
    .container-hero{
        background: url(../../assets/utilities/hero.svg) center/cover no-repeat;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media screen and (max-width: #{$breakpoint-sm}) {
            // styles for screens up to 700px
            grid-template-columns: 1fr;
        }
        @media screen and (min-width: #{$breakpoint-sm}) and (max-width: #{$breakpoint-md}) {
            // styles for screens up to 700px
            grid-template-columns: 3fr 1fr;
        }
        
        .brand{
            // background-color: $primary;
            @include flex(column);
            align-items: flex-start;
            padding: 0 4rem;
            @media screen and (max-width: 360px) {
                // styles for screens up to 700px
                padding: 0 0.75rem;
            }
            @media screen and (min-width: 361px) and (max-width: #{$breakpoint-sm}) {
                // styles for screens up to 700px
                padding: 0 1.5rem;
            }
            p{
                @media (max-width: #{$breakpoint-sm}) {
                    // styles for screens up to 700px
                    width: 90% !important;
                }
            }
            .more{
                // background-color: red;
                @include flex(row);
                justify-content: space-between;
                width: 60%;
                @media screen and (max-width: 360px) {
                    // styles for screens up to 700px
                    width: 100%;
                }
                @media screen and (min-width: 361px) and (max-width: 400px) {
                    // styles for screens up to 700px
                    width: 100%;
                }
                @media screen and (min-width: 401px) and (max-width: 500px) {
                    width: 90%;
                }
                @media screen and (min-width: 501px) and (max-width: 600px) {
                    width: 70%;
                }
                @media screen and (min-width: 601px) and (max-width: 700px) {
                    width: 60%;
                }
                @media screen and (min-width: 701px) and (max-width: 800px) {
                    width: 80%;
                }
                @media screen and (min-width: 801px) and (max-width: 900px) {
                    width: 70%;
                }
            }
        }

        .actions{
            background: url(../../assets/profile/profile.png) center/cover no-repeat;
            // background-color: red;
            @include flex(row);
            height: 90%;
            width: 90%;
            margin: auto;
            @media (max-width: 900px) {
                // styles for screens up to 700px
                display: none;
            }
        }

    }
}