.hero {
    .container-hero {
        background: url(../../assets/utilities/hero.svg) center/cover no-repeat;

        .brand {
            .more {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
            }
        }

        .actions {


            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 70%;
            width: 100%;
            margin: auto;

            @media (max-width: 1100px) {

                order: 1;
            }

            img {

                width: 540px;
            }
        }

    }
}