.hero {

    width: 100%;
    max-width: 1300px;

    margin: 0 auto;
    padding: 4rem 0 0 0;

    @media (max-width: 700px) {


        grid-template-columns: 2fr;
        position: relative;
    }

    .container-hero {
        background: url(../../assets/utilities/hero.svg) center/cover no-repeat;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0;

        @media screen and (max-width: 700px) {

            grid-template-columns: 1fr;
        }

        @media screen and (min-width: 700px) and (max-width:1100px) {

            grid-template-columns: 3fr 1fr;
        }

        .brand {


            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-items: flex-start;
            padding: 4rem;

            @media screen and (max-width: 360px) {

                padding: 4rem 0.75rem;
            }

            @media screen and (min-width: 361px) and (max-width: 700px) {

                padding: 6rem 1.5rem;
            }

            @media (max-width: 1100px) {

                margin-top: -50px;
                order: 2;
            }

            p {
                @media (max-width: 700px) {

                    width: 90% !important;
                }
            }

            .more {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
            }
        }

        .actions {


            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 70%;
            width: 100%;
            margin: auto;

            @media (max-width: 1100px) {

                order: 1;
            }

            img {

                width: 540px;
            }
        }

    }
}