@import '../index.scss';

.about{
    padding: 5rem 0;
    width: 100%;
    @include flex(column);
    
    .parallax {
        display: flex;
        width: 100%;
        padding: 2.5rem 2%;
        // margin: 2rem 0;
        box-sizing: border-box;
        height: 100vh;
        // background-color: green;
        
        .box {
            flex: 1;
            overflow: hidden;
            transition: .5s;
            margin: 0 2%;
            box-shadow: 0 20px 30px rgba(0,0,0,.1);
            line-height: 0;
            & > img {
                width: 200%;
                height: calc(100% - 10vh);
                object-fit: cover; 
                transition: .5s;
                }
            & > span {
                font-size: 3.8vh;
                display: block;
                text-align: center;
                height: 10vh;
                line-height: 2.6;
            }
            
            &:hover { flex: 1 1 50%; }
            &:hover > img {
                width: 100%;
                height: 100%;
            }
        }
        .super-box{
            flex: 1 1 50%;
        }
    }
}


