main.about-page {
    section.about-container {
        .parallax {
            .box {
                flex: 1;
                overflow: hidden;
                transition: .5s;
                margin: 0 2%;
                box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
                line-height: 0;

                &>img {
                    width: 200%;
                    height: 100%;
                    object-fit: cover;
                    transition: .5s;
                }

                &>span {
                    font-size: 1rem;
                    display: block;
                    text-align: justify;
                    height: 10vh;
                    line-height: 1.25;
                    padding: 0.5rem 0.25rem;

                    @media screen and (max-width:990px) {
                        font-size: 0.75rem;
                    }
                }

                &:hover {
                    flex: 1 1 50%;
                }

                &:hover>img {
                    width: 100%;
                    height: calc(100% - 10vh);
                }
            }

            .super-box {
                flex: 1 1 50%;
            }
        }

        .footer-heading {
            p {
                font-size: 1.75rem;
                font-weight: 600;
                font-style: italic;
                margin-bottom: 1rem;
            }
        }
    }
}