@import '../../index.scss';

.search-bar{
    // background-color: red;
    margin: 0.5rem;
    position: relative;
    // min-width: 400px;
    .input{
        padding: 0;
        .MuiFormHelperText-root,.MuiFormLabel-root{
            display: none;
        }
    }
    .input-field{
        border: 1px solid $secondary;
    }
    .options{
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        margin: 0;
        @include flex('column');
        .MuiSelect-root{
            height: 100%!important;
            border-radius: 0!important;
            border: 1px solid $secondary;
            @media screen and (max-width: 500px) {
                width: 100px;
            }
        }
        .MuiSelect-button{
            border: 0!important;
        }
        button{
            height: 100%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

    }
}