@import '../../index.scss';

.checkbox-wrapper  {
    input[type="checkbox"]{
        display: none;
    }
    .terms-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        .label-text {
            margin-left: 10px;
        }
    }
    .checkbox-box {
        //fill: rgba(207, 205, 205, 0.425);
        fill:$secondary;
        stroke: $secondary;
        stroke-dasharray: 800;
        stroke-dashoffset: 800;
        transition: stroke-dashoffset 0.6s ease-in;
    }
    .checkbox-tick {
        stroke: $bg;
        stroke-dasharray: 172;
        stroke-dashoffset: 172;
        transition: stroke-dashoffset 0.6s ease-in;
    }
    .checkbox-svg {
        width: 30px;
        height: 30px;
    }
    
    input[type="checkbox"]:checked + .terms-label .checkbox-box,
    input[type="checkbox"]:checked + .terms-label .checkbox-tick {
        stroke-dashoffset: 0;
    }
}
