@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0183b4;
    --secondary: #0fcde7;
    --bg: #F2F2F2;
    --white: #FFFFFF;
    --black: #000000;

    --linear-gradient: linear-gradient(var(--primary), var(--secondary));
    --font-family: 'Space Mono', monospace;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--bg);
}


* {
    scrollbar-width: thin;

    @media (prefers-color-scheme:dark) {
        scrollbar-color: var(--primary) #000000;
    }

    @media (prefers-color-scheme:light) {
        scrollbar-color: var(--primary) #ffffff;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a,
.wide-language {
    text-decoration: none !important;
    color: inherit;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        color: var(--primary);
    }
}

.active {
    color: var(--primary);
}

.gradient__text {
    background: linear-gradient(89.97deg, #ff4a3f 1.84%, #ebdc57 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-outline {
    text-shadow: -1px -1px 0 var(--secondary), 1px -1px 0 var(--secondary), -1px 1px 0 var(--secondary), 1px 1px 0 var(--secondary);
}

.black-gradient {
    background: #000000;
    background: -webkit-linear-gradient(to right, #171717, #000000);
    background: linear-gradient(to right, #171717, #000000);
}

.primary-gradient {
    background: var(--primary);
    background: linear-gradient(-90deg, var(--primary) 0%, rgba(10, 8, 14, 0) 100%);
    background: -webkit-linear-gradient(-90deg, var(--primary) 0%, rgba(10, 8, 14, 0) 100%);
}

.green-text-gradient {
    background: var(--primary);
    background: -webkit-linear-gradient(to top, var(--primary), var(--secondary));
    background: linear-gradient(to top, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.action {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sticky-card-1 {
    --index: 1;
}

#sticky-card-2 {
    --index: 2;
}

#sticky-card-3 {
    --index: 3;
}

#sticky-card-4 {
    --index: 4;
}

#sticky-card-5 {
    --index: 5;
}

.sticky-card {
    position: sticky;
    top: calc(var(--index) * 4rem);
}