footer {
    background-color: var(--primary);

    .footer-info {
        @media screen and (max-width: 550px) {
            align-items: flex-start;
            height: 97%;
        }

        @media screen and (min-width: 551px) and (max-width: 800px) {
            align-items: flex-start;
            height: 95%;
        }

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            img {
                height: 50px;
            }

            p {
                font-weight: 700;
                font-size: 1.3rem;

            }
        }

        .container {
            @media screen and (max-width: 550px) {
                grid-template-columns: 1fr;
            }

            @media screen and (min-width: 551px) and (max-width: 800px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (min-width: 801px) and (max-width: 990px) {
                grid-template-columns: 1.5fr 1fr 1fr 1fr;
            }

            @media screen and (min-width: 991px) and (max-width: 1200px) {
                grid-template-columns: 2fr 1fr 1fr 1fr;
            }

            aside {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-items: flex-start;
                justify-content: space-evenly;

                @media screen and (max-width: 550px) {
                    margin: 2rem 0;
                }

                @media screen and (min-width: 551px) and (max-width: 800px) {
                    margin: 2rem 0;
                }

                a {
                    text-decoration: none !important;
                    color: var(--white);
                    font-size: 13px;
                    line-height: 1.3rem;

                    &:hover {
                        color: wheat;
                    }
                }
            }

            aside.company {
                .links {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    justify-content: space-between;

                    gap: 1rem;

                    @media screen and (max-width: 550px) {
                        width: 60%;
                    }

                    svg {
                        padding: 0.2rem;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background-color: #f2610050;
                    }
                }
            }

            aside.categories,
            aside.tech,
            aside.help {
                justify-content: start;

                .cats,
                .elts,
                .info {
                    margin-top: 2rem;
                    width: 70%;

                    @media screen and (max-width: 550px) {
                        width: 100%;
                    }

                    p {
                        margin: 0.1rem 0;
                        font-size: 13px;
                    }
                }
            }

            .elts div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .info a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0 0 0.5rem 0;
                color: var(--white);

                svg {
                    margin-right: 5px;
                }
            }
        }
    }
}